@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --KoreanMain: "var(--KoreanMain)";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(----KoreanMain);
}

body.dark {
  color: var(--background);
  background-color: var(--for);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

/* 다른 브라우저에서도 스크롤바 숨기기 */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
